#div_back{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #2c3b41;
    min-width: 960px;
    min-height: 480px;
    border: solid #0E1625 1px;
}


#div_project_list{
    position: absolute;
    width: 214px;
    height: calc(100% - 8px);
    left: 4px;
    top: 4px;
    color: #1aabd2;
    background-color: #2c3b41;
    overflow-y: scroll;
    border: solid #0E1625 1px;
}
.div_title{
    color: #b8c7ce;
    font-size: 16px;
    text-align: center;
    width: 120px;
    height: 24px;
    background-color: #11212c;
    border: solid #0E1625 1px;
    padding: 0;
}
.button_project{
    width: 190px;
    height: 70px;
    border-top: 2px solid white;
    font-size: 16px;
    font-weight: bold;
    color: #2c3b41;
}
#div_add_project{
    position: absolute;
    left: 224px;
    top: 4px;
    width: calc(100% - 232px);
    min-width: 800px;
    height: 104px;
    background-color: #222d32;
    border: solid #0E1625 1px;
}
#form_add_project{
    position: absolute;
    top: 48px;
    left: 20px;
}
#button_add_project_queren{
    position: absolute;
    top: 44px;
    right: 20px;
    width: 120px;
    height: 40px;
    padding: 0;
    font-size: 15px;
}
#input_add_project_id{
    width: 220px;
    margin-right: 20px;
}
#input_add_project_name{
    width: 220px;
}

#div_project_info{
    position: absolute;
    left: 224px;
    top: 112px;
    width: calc(100% - 232px);
    min-width: 800px;
    height:calc(100% - 118px);
    min-height: 300px;
    background-color: #222d32;
    border: solid #0E1625 1px;
}
#div_project_info_head{
    position: absolute;
    top: 30px;
    left: 6px;
    width: calc(100% - 12px);
    height: 60px;
    background-color: #2c3b41;
}
.div_project_info_text{
    position: absolute;
    top: 10px;
    width: 200px;
    height: 40px;
    border: solid 1px;
    border-color: #222d32;
    text-align: center;
}
#div_project_info_head_text_code{
    left: 10px;
}
#div_project_info_head_text_name{
    left: 220px;
}
.text_select_project_left{
    position: relative;
    top: 8px;
    font-size: 14px;
    color: white;
}
.text_select_project_nomal{
    position: relative;
    top: 8px;
    color: #1aabd2;
    font-size: 16px;
}
#button_project_info_delete{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 120px;
    height: 30px;
    padding: 0;
    font-size: 15px;
}

.text_add_project_nomal{
    color: white;
}
