#div_messegeBox_zhezhao{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    min-width: 720px;
    min-height: 540px;

}
.div_messegeBox_tanchuang{
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding: 0;
    width: 360px;
    height: 240px;
    border-color: #142529;
    border-width: thin;
}
.div_messegeBox_tanchuang_head{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 30px;
    top: 100px;
    text-align: center;
}
.text_messegeBox_title{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.div_messegeBox_tanchuang_body{
    display: inline-block;
    position: absolute;
    width: 400px;
    top: 30px;
    height: calc(100% - 34px);
}
.img_messegeBox{
    position: absolute;
    top: 30px;
    left: calc((100% - 64px) / 2);
}
.text_messegeBox_disc{
    position: absolute;
    width: 300px;
    height: 40px;
    top: 140px;
    left: calc((100% - 300px) / 2);
    color: #b8c7ce;
    font-size: 16px;
    text-align: center;
}
.button_tishi{
    position: absolute;
    top: 180px;
    left: calc((100% - 160px) / 2);
    width: 160px;
    height: 40px;
}
.button_queren{
    position: absolute;
    top: 180px;
    left: calc((100% - 220px) / 2);
    width: 100px;
    height: 40px;
}
.button_quxiao{
    position: absolute;
    top: 180px;
    right: calc((100% - 220px) / 2);
    width: 100px;
    height: 40px;
}